<div class="dialog-wrapper vertical-form">
    <div style="margin-left: 10px"><h1>Add Question</h1></div>

    <div class="flex-container">
        <div class="column">
            <mat-form-field appearance="outline">
                <mat-label>Unique Question Code</mat-label>
                <input matInput placeholder="Code">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Section</mat-label>
                <input matInput placeholder="">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Prompt</mat-label>
                <textarea style="height: 200px" matInput placeholder="What is your first name?"></textarea>
            </mat-form-field>
        </div>
        <div class="column">
            <mat-form-field appearance="outline">
                <mat-label>Question Type</mat-label>
                <mat-select [(value)]="questionType">
                    <mat-option value="textBox">Text Box</mat-option>
                    <mat-option value="radioButton">Radio Button</mat-option>
                    <mat-option value="checkbox">Checkbox</mat-option>
                    <mat-option value="toggle">Toggle</mat-option>
                </mat-select>
            </mat-form-field>

            <div *ngIf="this.questionType == 'radioButton' || this.questionType == 'checkbox'">
                <button (click)="addOption()" mat-button extended>Add Option +</button>
                <div *ngFor="let option of this.options; index as i">
                    <span>
                        <mat-form-field appearance="outline">
                            <mat-label>Option {{i}}</mat-label>
                            <textarea matInput></textarea>
                        </mat-form-field>

                        <i (click)="options.splice(i, 1)" class="pi pi-trash delete"></i>

                    </span>
                </div>
            </div>


        </div>

    </div>
    <!-- <mat-dialog-actions>
        <button mat-button >No Thanks</button>
        <button mat-button cdkFocusInitial>Ok</button>
      </mat-dialog-actions> -->


</div>
