<div class="dialog-wrapper vertical-form">
    <span style="display: flex; align-items: center;">
    <div style="margin-left: 10px"><h1>Add Question</h1></div>
    <i (click)="this.closeDialog()" class="pi pi-times-circle delete" style="margin-right: 20px;margin-left: auto; font-size: 1.5rem;"></i>
    </span>

    <div class="flex-container">
        <div class="column">
            <mat-form-field appearance="outline">
                <mat-label>Unique Question Code</mat-label>
                <input required matInput [(ngModel)]="this.code" placeholder="Code">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Section</mat-label>
                <input matInput [(ngModel)]="this.section" placeholder="">
            </mat-form-field>      
         
            <mat-form-field appearance="outline">
                <mat-label>Prompt</mat-label>
                <textarea required style="height: 200px" matInput [(ngModel)]="this.prompt" placeholder="What is your first name?"></textarea>
            </mat-form-field>
            <mat-checkbox [(ngModel)]="this.halfWidth">Make question half width.</mat-checkbox>
            <mat-checkbox [(ngModel)]="this.fullWidth">Make question full width.</mat-checkbox>
        </div>
        <div class="column">
            <mat-form-field appearance="outline">
                <mat-label>Question Type</mat-label>
                <mat-select required [(ngModel)]="questionType">
                    <mat-option value="textBox">Text Box</mat-option>
                    <mat-option value="radioButton">Radio Button</mat-option>
                    <mat-option value="checkbox">Checkbox</mat-option>
                    <mat-option value="toggle">Toggle</mat-option>
                </mat-select>
            </mat-form-field>

            <div *ngIf="this.questionType=='textBox'">
                <mat-form-field appearance="outline">
                    <mat-label>Textbox Size</mat-label>
                    <mat-select required [(ngModel)]="textBoxSize">
                        <mat-option value="small">Small</mat-option>
                        <mat-option value="medium">Medium</mat-option>
                        <mat-option value="large">Large</mat-option>
                    </mat-select>
                </mat-form-field>
                
            </div>

            <div *ngIf="this.questionType == 'radioButton' || this.questionType == 'checkbox'">
                <button style="margin-bottom:10px" (click)="addOption()" mat-button extended>Add Option +</button>

                <div *ngFor="let option of this.options; index as i; trackBy: trackByIndex" class="option-row">
                    <span>
                        <mat-form-field appearance="outline">
                            <mat-label>Option {{i+1}}</mat-label>
                             <input [(ngModel)]="options[i]" matInput>
                        </mat-form-field>

                        <i (click)="removeOption(i)" class="pi pi-trash delete"></i>
                        <i (click)="moveOptionUp(i)" class="pi pi-arrow-up icon-blue"></i>
                        <i (click)="moveOptionDown(i)" class="pi pi-arrow-down icon-blue"></i>
                    </span>
                </div>
            </div>


        </div>

    </div>
    <mat-dialog-actions>
        <button (click)="saveAndClose()" mat-button 
    [disabled]="
      !code ||
      !prompt ||
      !questionType ||
      ((questionType === 'radioButton' || questionType === 'checkbox') && options.length === 0)">Save</button>
      </mat-dialog-actions>

</div>
