<span (click)="this.addStep()" class="add step">
    <i class="pi pi-plus-circle"></i>&nbsp; Add step
</span>
<div class="stepper-wrapper">
    <mat-stepper class="mat-stepper" *ngIf="this.showStepper && this.steps && this.steps.length > 0" [animationDuration]="'0ms'" [linear]="false" #stepper (selectionChange)="onStepChange($event)">
        <mat-step *ngFor="let step of steps; index as i;" [stepControl]="firstFormGroup">

            <ng-template matStepLabel>
                {{ step.title ? step.title : "Step "+(i + 1) }} &nbsp;
                <!-- <input type="text" [(ngModel)]="step.title" placeholder="Step Title" class="form-control no-border bold-text" required> -->
            </ng-template>
            <input type="text" [(ngModel)]="step.title" placeholder="Step Title" class="form-control no-border bold-text" required>
            &nbsp;
            <i (click)="shiftStepLeft(i)" class="pi pi-arrow-circle-left"></i>
            <i (click)="deleteStep(i)" class="pi pi-trash"></i>
            <i (click)="shiftStepRight(i)" class="pi pi-arrow-circle-right"></i>
        
            <div class="display-flex">
            <div class="tab-wrapper">
                <mat-list role="list"> 
                    <div cdkDropList [cdkDropListData]="step.tabs" (cdkDropListDropped)="drop($event,i)" class="list-item-wrapper-wrapper">
                        <div *ngFor="let tab of step.tabs; index as j; trackBy: trackById" class="list-item-wrapper">
                            
                            <mat-list-item [class.selected-tab]="selectedTabIndex === j" cdkDrag style="padding-left:10px; padding-right: 0px; display:flex;justify-content: center;align-items: center;" (click)="selectTab(j)" class="mat-list-item" role="listitem">
                                <input type="text" [(ngModel)]="tab.title" placeholder="Tab Title" class="form-control width-auto no-border bold-text" required>
                        
                                <i style="font-size:14px; margin-right: 0" cdkDragHandle class="pi pi-arrows-alt"></i>
                            </mat-list-item>
                            
                            <span class="delete-tab">
                                <i (click)="deleteTab(j)" class="pi pi-trash red-hover"></i>
                            </span>
                        </div>
                    </div>
                    <span (click)="this.addTab(i)" class="add tab">
                        <i class="pi pi-plus-circle"></i>&nbsp; Add tab
                    </span>
                  </mat-list>
            </div>

            <div class="tab-content">
                <div *ngFor="let tab of step.tabs; index as j;" class="tab-content-wrapper" [hidden]="this.selectedTabIndex !== j">
                    <div class="questionaire-wrapper">
                        <div class="add-question-center">
                            <span (click)="this.openDialog()" class="add tab" style="cursor:pointer;">
                                <i class="pi pi-plus-circle"></i>&nbsp; Add Question
                            </span>
                        </div>
                        <div *ngFor="let section of tab.sections; index as k">
                            <mat-card appearance="outlined">
                                <mat-card-header class="ten-pix-bottom">
                                  <mat-card-title *ngIf="section.showSectionTitle"> {{ section.title }}</mat-card-title>
                                </mat-card-header>
                                <mat-card-content style="margin-top: 20px;">
                                    <!-- <ng-container *ngFor="let row of section.questions | groupQuestionsByRow"> -->
                                    <div class="flex-container">
                                        <div *ngFor="let question of section.questions; index as qIndex; trackBy: trackByQuestionId" class="question-item">
                                            
                                            <div class="flex-container">
                                                <mat-label class="ten-pix-bottom">{{question.prompt}}</mat-label>
                                                <i (click)="deleteQuestion(question, k)" class="pi pi-trash red-hover"></i>
                                                <i (click)="moveQuestionUp(question, k)" class="pi pi-arrow-circle-up yellow-hover"></i>
                                                <i (click)="moveQuestionDown(question, k)" class="pi pi-arrow-circle-down yellow-hover"></i>

                                            </div>

                                            <div *ngIf="question.type=='radioButton'">
                                            <mat-radio-group class="vertical-radio-group">
                                                <mat-radio-button *ngFor="let option of question.options" [value]="option">{{option}}</mat-radio-button>
                                            </mat-radio-group>
                                            </div>
                                            
                                            <div class="ten-pix-top" *ngIf="question.type=='textBox'">
                                                <mat-form-field class="small" [style.width.px]="question.textBoxSize == 'small' ? 200 : question.textBoxSize == 'medium' ? 400 : 600" appearance="outline">
                                                    <input matInput>
                                                </mat-form-field>                                           
                                            </div>
                                        </div>
                                    </div>
                                </mat-card-content>
                                
                              </mat-card>
                        </div>
                    </div>
                </div>
            </div>
            </div>

          </mat-step>
    </mat-stepper>
</div>
